<div class='row stop'>
  <div class='span12'>
    <div class='row'>
      <div class='span6 offset3 text-left'>
        <span class='stop_name'>{{name}}</span>
        {{#if controller.linesFetching}}
        <i class='icon-spinner icon-spin secondary'></i>
        {{/if}}
        <span class='distance'>
          <i class='icomoon-walking'></i>
          <i class='icon-long-arrow-right'></i>
          {{#if walking_time}}
            <span>{{unbound walking_time}} <a href='{{unbound navigation_url}}' target='_blank'><i class='icon-external-link'></i></a></span>
          {{else}}
          <i class='icon-spinner icon-spin tertiary'></i>
          {{/if}}
        </span>
      </div>
    </div>
    <div class='lines_list'>
      {{#unless controller.linesFetching}}
        {{#if lines}}
          {{#each lines}}
            {{partial 'line'}}
          {{/each}}
        {{else}}
          <div class='row line'>
            <div class='span1 offset3 line_name_block'>
            </div>
            <div class='span5 line_directions_list'>
              <em>Aucun passage programmé</em>
            </div>
          </div>
        {{/if}}
      {{/unless}}
    </div>
  </div>
</div>